<h1>Nova Receita</h1>

<%= flash[:error] %>

<%= form_for @recipe, html: { multipart: true } do |f| %>
<dl>

  <dt><%= f.label :avatar, 'Foto' %></dt>
  <dd><%= f.file_field :avatar %></dd>

  <dt><%= f.label :recipe_name, 'Nome da Receita' %></dt>
  <dd><%= f.text_field :recipe_name %></dd>

  <dt><%= f.label :kitchen_id, 'Cozinha' %></dt>
  <dd><%= f.collection_select(:kitchen_id, @kitchens , :id, :name) %></dd>

  <dt><%= f.label :type_id, 'Tipo de Comida' %></dt>
  <dd><%= f.collection_select(:type_id, @types, :id, :name) %></dd>

  <dt><%= f.label :how_many_people_serves, 'Quantas Pessoas Serve' %></dt>
  <dd><%= f.text_field :how_many_people_serves %></dd>

  <dt><%= f.label :preparation_time, 'Tempo de Preparação' %></dt>
  <dd><%= f.text_field :preparation_time %></dd>

  <dt><%= f.label :difficulty_level, 'Nivel de Dificuldade'%></dt>
  <dd><%= f.text_field :difficulty_level %></dd>

  <dt><%= f.label :ingredients, 'Ingredients' %></dt>
  <dd><%= f.text_field :ingredients %></dd>

  <dt><%= f.label :step_by_step, 'Passo a Passo' %></dt>
  <dd><%= f.text_area :step_by_step %></dd>

  <dt><%= f.submit 'Postar Receita' %></dt>
</dl>
<% end %>

<%= link_to 'Voltar', root_path %>
