<h2><%= @recipe.recipe_name %></h2>
<%= @recipe.kitchen %>
<%= @recipe.type_of_food %>
<%= @recipe.how_many_people_serves %>
<%= @recipe.preparation_time %>
<%= @recipe.difficulty_level %>
<%= @recipe.ingredients %>
<%= @recipe.step_by_step %>
