<h2>Cadastrar Tipo de Comida </h2>

<%= flash[:error] %>
<dl>
<%= simple_form_for @type do |f| %>

  <dt><%= f.input :name,label: 'Tipo de Comida',error: "Campo Obrigatório" %></dt>

  <%= f.submit 'Postar Tipo de Comida' %>
<% end %>
</dl>
<%= link_to 'Voltar', root_path %>
