<h1>Social Receipts</h1>

<%= link_to 'Cadastrar Receita', new_recipe_path %> <br>
<%= link_to 'Cadastrar Cozinha', new_kitchen_path %>

<dl>
<% @recipes.each do |recipe| %>
  <dt> Nome da Receita </dt>
  <dd><%= recipe.recipe_name %></dd>
  <dt> Cozinha </dt>
  <dd><%= recipe.kitchen_id %></dd>
  <dt> Tipo de Comida </dt>
  <dd><%= recipe.type_of_food %></dd>
  <dt> Quantas Pessoas Serve </dt>
  <dd><%= recipe.how_many_people_serves %></dd>
  <dt> Tempo de Preparação </dt>
  <dd><%= recipe.preparation_time %></dd>
  <dt> Nivel de Dificuldade </dt>
  <dd><%= recipe.difficulty_level %></dd>
  <dt> Ingredientes </dt>
  <dd><%= recipe.ingredients %></dd>
  <dt> Passo a Passo </dt>
  <dd><%= recipe.step_by_step %></dd>
  <br>
  <br>
<% end %>
</dl>
