<h1>Social Receipts</h1>
<dt><%= link_to 'Nome da Receita', @recipe %></dt>

<%= link_to 'Cadastrar Receita', new_recipe_path %> <br> <br>
<dl>
<% @recipes.each do |recipe| %>
  <dt><%= link_to 'Nome da Receita', @recipe %></dt>
  <dd><%= link_to recipe.recipe_name, @recipe %></dd>
  <dt> Cozinha </dt>
  <dd><%= recipe.kitchen %></dd>
  <dt> Tipo de Comida </dt>
  <dd><%= recipe.type_of_food %></dd>

<% end %>
</dl>
