<h2>Cadastrando Cozinha</h2>

<%= flash[:error] %>
<dl>
<%= simple_form_for @kitchen do |f| %>

  <dt><%= f.input :name,label: 'Nome da Cozinha',error: "Campo Obrigatório" %></dt>

  <%= f.submit 'Postar Cozinha' %>

<% end %>
</dl>
<%= link_to 'Voltar', root_path %>
