<h2>Cadastrando Cozinha</h2>

<h3><strong><%= link_to 'Voltar', root_path %></strong></h3>
<br>
<%= flash[:error] %>
<div class="form-group">
<dl class="form-horizontal">
    <%= simple_form_for @kitchen do |f| %>

      <dt class="form-control"><%= f.input :name,label: 'Nome da Cozinha',error: "Campo Obrigatório" %>
      <br>
      <%= f.submit 'Postar Cozinha' %></dt>

    <% end %>
  </dl>
</div>
