<!DOCTYPE html>
<html>
  <head>
    <title>SocialRecipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> Social Receipts </h1>
    <%= form_tag(search_path, method: :get) do %>
      <%= label_tag :term, 'Buscar Receita' %>
      <%= text_field_tag :term %>
      <%= submit_tag 'Buscar' %>
    <% end %>
    <%= yield %>
  </body>
</html>
