<!DOCTYPE html>
<html>
  <head>
    <title>SocialRecipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <h1> Social Receipts
        <small>
          <div class="nav  navbar-right">
            <% if user_signed_in? %>
              <ul>
                <li> <%= current_user.email %>
                <li> <%= link_to 'Sair', destroy_user_session_path, method: :delete %> </li>
              </ul>
            <% else %>
              <ul>
                <li> <%= link_to 'Se Cadastre', new_user_registration_path %> </li>
                <li> <%= link_to 'Entrar', new_user_session_path %> </li>
              </ul>
        </small>
      </h1>
        <% end %>
      </div>
    </nav>
    <div class="col-md-9 col-md-push-3">
      <%= form_tag(search_path, method: :get) do %>
        <%= label_tag :term.downcase, 'Buscar Receita' %>
        <%= text_field_tag :term.downcase %>
        <%= submit_tag 'Buscar' %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
